{% extends "base.html" %}

{% block content %}

<div class="container">

  <div class="starter-template">
    <h1>List of Bills</h1>
    <p class="lead">This is a list of bills<br>The information is the title and subject.</p>
  </div>

  <table class="table table-hover">
    <tr><th>Bill Id</th><th>Official Title</th><th>Top Subject</th></tr>
    {% for bill in bills %}
    <tr><td>{{ bill['bill_id'] }}</td><td>{{ bill['official_title']}}</td><td> {{ bill['subjects_top_term'] }}</td></tr>
    {% endfor %}
  </table>

  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>

</div><!-- /.container -->

{% endblock %}