{% extends "base.html" %}

{% block content %}


<!-- AUTOCOMPLETE BILL FIELD -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery-ui.min.js"></script>

<script>
    $(function() {
     $( "#bill_autocomplete" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: '/api/bills/' + request.term,
          dataType: "json",
          success: function( data ) {
            response( data );
          }
        });
      },
      minLength: 2
    });
  });
</script>

<div class="container">

  <div>
    <h2>Bill Chooser</h2>
    <p>Start typing a bill id!</p>
  </div>
  <div>
    <form action="/output" method="GET" method="POST" role="form">
      <div class="form-group">
          {{ form.bill_id.label }}
          {{ form.bill_id }}
      </div>

      <div>
        <button type="submit" class="btn btn-default btn-lg">Summarize this Bill!</button>
      </div>

    </form>
  </div>
</div>


<div class="container">

  <div class="starter-template">
    <h3>Bill Information</h3>
    <p class="lead">Below is the result of your query.<br> </p>
  </div>

  <table class="table table-hover">
      <tr><th>Bill ID</th><th>Official Title</th><th>Bill Top Topic</th></tr>
      <tr><td>{{ bill_info.bill_id }}</td><td>{{ bill_info.official_title }}</td><td> {{ bill_info.subjects_top_term }}</td></tr>
    </table>

  
</div>

<div class="container">

  <div class="starter-template">
    <h3>Summarization:</h3>
    <p class="lead">Here is a summarization of bill <br><br> 
      {{ bill_info.official_title }} <br><br> 
      {{summarization_result}}
    </p>

  </div>

</div>

{% endblock %}