<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="bill-summarizing-app">
    <meta name="author" content="melissa-ferrari">
    <link rel="icon" href="../static/css/favicon.ico">

    <title>Summarizing Congressional Bills</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">

    <link href="../static/css/jquery-ui.min.css" rel="stylesheet">

    <link href="../static/css/bootstrap-slider.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->



    <!-- AUTOCOMPLETE BILL FIELD -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery-ui.min.js"></script>
    <script src="../static/js/bootstrap-slider.js"></script>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const bill_id_current = urlParams.get('bill_id');
        const bill_title_current = urlParams.get('bill_title');
        const reading_time_current = urlParams.get('reading_time');


        $(function () {

            function showByTime(time) {
                $(".timed").each(function (index) {
                    var lineTime = parseFloat($(this).attr('time'));

                    if (lineTime > time) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                });
            }

            if (bill_id_current) {
                $('#bill_autocomplete').val(bill_id_current);
            }
            if (bill_title_current) {
                $('#bill_title_autocomplete').val(bill_title_current);
            }

            $('#clear_btn').click(function (e) {
                e.preventDefault();
                $('#bill_autocomplete').val('');
                $('#bill_title_autocomplete').val('');
                $('#time_slider').bootstrapSlider('setValue', 5);
            });

            $("#bill_autocomplete").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/api/bills/id/' + request.term,
                        dataType: "json",
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 2
            });

            $("#bill_title_autocomplete").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/api/bills/title/' + request.term,
                        dataType: "json",
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 2
            });

            $("#bill_subject_autocomplete").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/api/bills/subject/' + request.term,
                        dataType: "json",
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 2
            });

            $('#time_slider').bootstrapSlider({
                formatter: function (value) {
                    return 'Current value: ' + value;
                }
            });

            $("#time_slider").on("slide", function (slideEvt) {
                $("#ex6SliderVal").text(slideEvt.value);
                showByTime(parseFloat(slideEvt.value));
            });

            if (reading_time_current) {
                $('#time_slider').bootstrapSlider('setValue', reading_time_current);
                $("#ex6SliderVal").text(reading_time_current);
            }

            showByTime($('#time_slider').val())
        });

    </script>


</head>

<body id="page-top">

    <!-- Navigation -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">BiLLUMINATE</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="https://github.com/mferrari3/billuminate" target="_blank">About</a></li>
                    <li><a href="https://www.linkedin.com/in/melissa-ferrari/" target="_blank">Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

    <!-- HEADER -->


    <!-- INSERT BODY -->
    <!-- https://getbootstrap.com/docs/4.0/components/input-group/ -->
    <section id="page_body">
        <div class="container">
            <div class="row form-group" style="padding-top:50px; padding-bottom:50px;">
                <form action="/bills_output" method="GET" method="POST" role="form">
                    <div id="header-search" class="form-group row">
                        <div class="col-md-2 form-group" style="align-content: center;">

                            <label for="bill_autocomplete" class="control-label">
                                <p class="lead"> Search by Bill ID</p>
                            </label>
                            <br>
                            <input id="bill_autocomplete" name="bill_id" type="text" value=""
                                class="ui-autocomplete-input form-control">
                        </div>
                        <div class="col-md-4 form-group" style="align-content: center;">
                            <label for="bill_title_autocomplete" class="control-label">
                                <p class="lead">Search by Title</p>
                            </label>
                            <br>
                            <input id="bill_title_autocomplete" name="bill_title" type="text" value=""
                                class="ui-autocomplete-input form-control">
                        </div>

                        <div class="col-md-3 form-group" style="align-content: center;">

                            <label for="reading_time" class="control-label">
                                <span id="ex6CurrentSliderValLabel">
                                    <p class="lead">
                                        Read Time: <span id="ex6SliderVal">3</span> minutes
                                    </p>
                                </span>

                            </label>
                            <br>
                            <div class="slider slider-horizontal" style="width: fit-content;">
                                <input type="text"
                                    data-slider-min="{{ read_time_slider.min }}" 
                                    data-slider-max="{{ read_time_slider.max }}"
                                    value="{{ read_time_slider.current }}" 
                                    data-slider-step="0.5"
                                    class="span2 form-control"
                                    id="time_slider"
                                    name="reading_time">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row align-items-start">
                                <button type="submit" class="btn btn-default btn-lg"
                                    style="margin-bottom: 15px">Summarize this Bill!</button>
                            </div>
                            <div class="row align-items-end">
                                <button id="clear_btn" class="btn btn-default btn-lg">Find Another</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>

        {% block content %}
        {% endblock %}

    </section>

    <!-- Footer -->


</body>

</html>