{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row col-md-12">

    <!-- FURTHEST LEFT COLUMN-->
    <div class="col-md-2">

    </div>

    <!-- MIDDLE COLUMN -->
    <div class="col-md-6" style="align-content: center">

      <!-- <div class="row" id="slider">

        <form action="/bills_output" method="GET" method="POST" role="form">


            <div class="col-md-4">
              <button type="submit" class="btn btn-primary">Set Reading Time</button>
            </div>
          </div>
        </form>

      </div> -->

      <!--
{{ summarization_result }}
      -->
      <div class="row text-center">
        <div class="col-md-12">
          <h3>Summarization</h3>
          <br>
          <br>
          <p class="lead text-center bg-info" , style="font-size:135%;">
            {{ bill_info.official_title }}
          </p>
          <br>
          <br>
          <p class="lead text-justify" style="font-size:120%;">

            {% for _, row in summarization_result.iterrows() %}
            {% if row["tag"] == "section" %}
            <div>
            <b>{{ row["text"] }}</b><br>
            {% else %}
            <div class="timed" time="{{ row["time_cumulative"] }}">
            {{ row["text"] }} <br>
            {% endif %}
            </div>
            {% endfor %}

          </p>
        </div>
      </div>
    </div>

    <!-- FURTHEST RIGHT COLUMN  -->
    <div class="col-md-4">

    </div>
    <!--     
 

  <table class="table table-hover">
      <tr><th>Bill ID</th><th>Official Title</th><th>Bill Top Topic</th></tr>
      <tr><td>{{ bill_info.bill_id }}</td><td>{{ bill_info.official_title }}</td><td> {{ bill_info.subjects_top_term }}</td></tr>
    </table> -->


  </div>
</div>

{% endblock %}